/**
 * Common Styles
 */

html {
    overflow-y: scroll;
    min-height: 100%;
    -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;

    // http://blog.55minutes.com/2012/04/iphone-text-resizing/
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
}

body {
    background: transparent;
}
